<%- layout('/layout/boilerplate.ejs') %>
<div class="row">
<div class="alert alert-danger offset-2 col-7" role="alert">
      <!-- Oops...!<div class="alert-heading"><%=err.message%></div>
      <div class="alert-heading"><%=err.stack%></div> -->
      <p><%=err.message%><</p>
      <p><%=err.stack%></p>
    </div>
  </div>
  </div>
